.headshot {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

/* Mentors & Supervisors */
.dr-lyndia-wu { background-position-y: -20px; background-image: url('./img/about/mentors/Dr.\ Lyndia\ Wu.jpg'); }

.dr-gabriel-potvin { background-position-y: -10px; background-image: url('./img/about/mentors/Dr.\ Gabriel\ Potvin.jpg'); }

.dr-saeid-soltanian { background-image: url('./img/about/mentors/Dr.\ Saeid\ Soltanian.jpg'); }



