.headshot {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.dr-lyndia-wu { background-position-y: -20px; background-image: url('./img/about/Dr.\ Lyndia\ Wu.jpg'); }

.dr-gabriel-potvin { background-position-y: -10px; background-image: url('./img/about/Dr.\ Gabriel\ Potvin.jpg'); }

.dr-saeid-soltanian { background-image: url('./img/about/Dr.\ Saeid\ Soltanian.jpg'); }

.han-nguyen { background-image: url('./img/about/han-nguyen.png'); }

.kalen-forester { background-image: url('./img/about/kalen-forester.png'); }

.alex-shevchuk { background-image: url('./img/about/placeholder.png'); }

.tony-xu { background-image: url('./img/about/placeholder.png'); }

.joshua-park { background-position-y: 0px; background-image: url('./img/about/joshua-park.jpg'); }

.alex-wen { background-image: url('./img/about/alex-wen.png'); }

.riley-zurrin { background-image: url('./img/about/riley-zurrin.png'); }

.hamza-peracha { background-image: url('./img/about/placeholder.png'); }

.natalia-gosnell { background-position-y: 0px; background-image: url('./img/about/natalia-gosnell.jpg'); }

.atoosa-mahmoudian { background-image: url('./img/about/atoosa-mahmoudian.png'); }

.chaehyeon-lee { background-image: url('./img/about/chaehyeon-lee.png'); }

.bruno-ozaki { background-image: url('./img/about/bruno-ozaki.png'); } 

.ryan-sutherland { background-image: url('./img/about/ryan-sutherland.png'); }

.stephanie-quon { background-image: url('./img/about/stephanie-quon.png'); }

.josha-heimann { background-image: url('./img/about/placeholder.png'); }

.gagan-bhatia { background-image: url('./img/about/placeholder.png'); } 

.nadia-djafri { background-image: url('./img/about/placeholder.png'); }

.olivia-kim { background-image: url('./img/about/olivia-kim.png'); }


