html { background-color: #3fab91; }

body {
    width: 960px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom:30px;
    background-color: white;
    border: 3px solid #3fab91;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}
.container {
    width: 100%;
    margin: 0 auto;
}
.banner-img {
    width: 100%;
}