

$body-background-color: #2a9272;
$body-color:            #515151;
$headings-color:        #2a9272;
$post-title-color:      #ffffff;
$post-date-color:       #2a9272;
$link-color:            #2a9272;

html {
  font-family: $font-family;
  font-size:   20px;
  line-height: 1.5;
}

//Links
a {
  color:           $link-color;
  text-decoration: none;

  strong {
    color: inherit;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

body {
  color:            $body-color;
  background-color: $body-background-color;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom:  .5rem;
  font-weight:    bold;
  line-height:    1.25;
  color:          $headings-color;
  text-rendering: optimizeLegibility;
}

.post-title,
.post-title a {
  color: $post-title-color;
}

.post-date {
  color: $post-date-color;
}